/* COMMON */
body {
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
}
.small-wrapper {
    max-width: 900px;
    margin: auto;
}
.block-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
img {
    max-width: 100%;
}
p {
    padding: 15px;
}
body h1, h2, h3, h4 {
    font-weight: normal;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 30px;
}

/* HEADER */
/* Nav */
header .top-nav {
    padding: 20px;
}
header nav {
    text-align: right;
}
header .burger-menu {
    font-size: 17px;
}

/* Menu */
.menu {
    list-style-type: none;
    line-height: 15px;
}
.menu li {
    display: inline-block;
    margin-left: 10px;
}
.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: black;
}
.menu a:hover {
    text-decoration: underline;
}

/* Lang */
.menu.lang li {
    border-right: 1px solid black;
    padding-right: 10px;
}
.menu.lang li:last-child {
    border-right: none;
}

/* Jumbotron */
.jumbotron {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    position: relative;
    color: white;
    text-align: center;
}
.jumbotron .teaser {
    width: 50%;
}
.jumbotron a {
    text-decoration: none;
    padding: 0 5px;
}


/* MAIN */
/* Products section */
#products {
    padding: 15px 0;
}
.col_inner { /* spaziatura colonna */
    padding: 10px;
}
.col_content { /* contenitore degli elementi */
    text-align: center;
    padding: 25px;
    background-color: #fafafa;
}
.col_inner img {
    width: 50%;
    margin: auto;
}
.col_inner a {
    text-decoration: none;
    color: blue;
}
.col_inner a span {
    display: none;
}
.col_inner a:hover span {
    display: contents;
}
.col_inner a:hover {
    color: darkmagenta;
    text-decoration: underline;
}
.col_inner:last-child img {
    display: block;
    padding-top: 15px;
}

/* iPhone + bg section */
#iPhone-bg {
    background-image: url("../img/HelbizBanner.jpg");
    height: 390px;
    background-size: cover;
}
#iPhone-bg img {
    height: 480px;
    display: block;
    margin: auto;
    position: relative;
    top: 150px;
}
#info .col_phone p {
    padding: 0;
}
#info .col_phone {
    padding: 80px;
    margin: auto;
    width: 65%;
}
@media all and (max-width: 991px) {
    #info {
        padding-top: 200px;
    }
    #info .col_phone {
        padding: 20px;
    }
}

/* Mobility section */
/* box top */
.mobility a {
    color: white;
}
.mobility .mob_content span {
    display: contents;
}
.mobility .mob_content {
    height: 450px;
    color: white;
    text-align: center;
    padding: 20px;
}
.mobility .img1 .mob_content {
    padding-left: 60%;
    padding-top: 10%;
    width: 90%;
}
.mobility .col_inner.img1 {
    height: 450px;
    background-image: url("../img/ScooterHelbiz-2400.jpg");
    background-size: cover;
}

/* box left */
.mobility .mob_content.bg1:first-child a {
    padding-right: 20px;
}
.mobility .mob_content.bg1 {
    background: rgb(55,55,55);
    background: linear-gradient(0deg, rgba(55,55,55,1) 0%, rgba(0,93,112,1) 78%, rgba(64,85,104,1) 100%);
}
.mobility .mob_content img {
    width: 450px;
}
.mobility .col_inner.left {
    padding: 20px 10px 20px 0;
}

/* box right */
.mobility .col_inner.right {
    padding: 20px 0 20px 10px;
}
.mobility .mob_content.bg2 {
    background-image: url("../img/florence-skyline-italy_l.jpeg");
    background-size: cover;
    opacity: 0.9;
}
@media all and (max-width: 991px) {
    .mobility .img1 .mob_content {
        padding: 10%;
        margin: auto;
    }
    .mobility .col_inner.img1 {
        opacity: 0.8;
    }
    .mobility .container .col_inner.left {
        padding-right: 0;
    }
    .mobility .container .col_inner.right {
        padding: 0 0 20px 0;
    }
}

/* helbiz family section */
/* bg pattern */
.family-bg {
    height: 333px;
    background-image: url("../img/Social-Banner.jpg");
    background-size: cover;
    position: relative;
}
.family-bg .hel_content {
    background-color: white;
    padding: 50px 113px;
}
/* social list */
.family-bg ul {
    list-style-type: none;
    text-align: center;
}
.family-bg li {
    display: inline-block;
}
.family-bg .social-list a {
    color: black;
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
}
.family-bg .social-list li:last-child a {
    margin-right: 0;
}
/* Social hover colors */
.social-list a:hover #face {
    color: #1877f2;
}
.social-list a:hover #insta {
    color: #c13584;
}
.social-list a:hover #yt {
    color: #f00;
}
.social-list a:hover #tw {
    color: #16a2f2;
}

main .family-bg {
    margin-bottom: 20px;
}


/* FOOTER */
.bg-black {
    background-color: black;
    padding: 100px 0 60px 0;
    color: white;
}
.bg-black img {
    width: 150px;
    position: relative;
    top: 0;
}
.bg-black h2 {
    padding-top: 50px;
    font-weight: 500;
}
.bg-black a {
    text-decoration: none;
    color: white;
}
.bg-black ul {
    display: inline-block;
    list-style-type: none;
    padding-right: 55px;
}
.bg-black ul li {
    line-height: 2.5;
}
.bg-black ul li:first-child {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}